<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Note of Gratitude</title>
    <script src="https://unpkg.com/@tailwindcss/browser@4"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
</head>
<style>
    body {
        background-color: #111827;
        color: white;
    }

    h1 {
        font-family: cursive;
    }

    blockquote {
        background-color: #48504f;
    }

    .center {
        position: absolute;
        top: 30%;
        left: 50%; 
        transform: translate(-50%, -50%);
    }

    .no-center {
        animation: none;
    }

    @media only screen and (max-width: 500px) {
        body {
            padding: 1rem;
        }
    }
</style>
<body>
    {% block content %}
    <div class="content no-center sm:center md:center lg:center xl:center 2xl:center">
        <h1 class="text-3xl lg:text-6xl lg:mb-4">A Note of Gratitude</h1><hr>
        <blockquote class="p-4 my-4 border-l-6 border-gray-300 bg-gray-50 dark:border-gray-500 dark:bg-gray-800 text-lg">
            <p class="text-2xl mb-4">Respected {{ name }},</p>
            {% block body %}
            {% endblock body %}
            {% block conclude %}
                <p class="text-base md:text-lg">Yours Sincerely,</p>
                <p class="text-base md:text-lg">Lalith B Seervi, II 'G'</p>
            {% endblock conclude %}
        </blockquote>
    {% endblock %}
    <code class="text-xs">
        Your IP: {{ IP }} <br>
        User Agent: {{ u_agent }} <br>
     </code>
    </div>
    <script>
        document.addEventListener('contextmenu', (e) => e.preventDefault());

        function ctrlShiftKey(e, keyCode) {
        return e.ctrlKey && e.shiftKey && e.keyCode === keyCode.charCodeAt(0);
        }

        document.onkeydown = (e) => {
        // Disable F12, Ctrl + Shift + I, Ctrl + Shift + J, Ctrl + U
        if (
            event.keyCode === 123 ||
            ctrlShiftKey(e, 'I') ||
            ctrlShiftKey(e, 'J') ||
            ctrlShiftKey(e, 'C') ||
            (e.ctrlKey && e.keyCode === 'U'.charCodeAt(0))
        )
            return false;
        };
    </script>
    <script>
        function updateCentering() {
            var contentElement = document.getElementsByClassName('content')[0];
            
            // Check the screen width
            if (window.innerWidth >= 640) {  // The 'sm' breakpoint is 640px
                contentElement.classList.remove('no-center');
                contentElement.classList.add('center');
            } else {
                contentElement.classList.remove('center');
                contentElement.classList.add('no-center');
            }
        }

        window.addEventListener('load', updateCentering);
        window.addEventListener('resize', updateCentering);
    </script>
</body>
</html>