{% load social_share %}
{% add_copy_script %}

<head>
    <title>{{ title }}</title>
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
</head>

<style>
    .inline {
        display: flex;
        justify-content: space-between;
        width: 38%;
        text-decoration: underline;
        text-decoration-color: #ffb300;
    }
</style>
{% block page_title %}
    <h2>{{ title }}</h2>
{% endblock page_title %}

{% block page_content %}
    <small>
        {{ created_on }} | Categories:
        {% for category in categories %}
            <a href="{% url 'viewBlogByCategory' category %}">{{ category }}</a>
        {% endfor %} |
        <a href="{% url 'editBlogPost' pk %}">Edit</a> |
        <a href="{% url 'deleteBlogPost' pk %}">Delete</a>
        <div class="inline">
            {% post_to_whatsapp share_link "Share via Whatsapp" %}{% copy_to_clipboard share_link "Copy to clipboard!" %}
        </div>
    </small>
    <p>{{ body|safe}}</p>
{% endblock page_content %}