html, body {
  overflow-x: hidden;
}

/* fourth iteration */
h1, hr, h2, 
.header::before,
.header::after {
  margin: 0;
  box-sizing: border-box;
}

/* HTML Tags */

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  line-height: 1.5;
  color: #333;                 
  background-color: #f9f9f9;  
  min-height: 100vh;
  max-width: 100vw;
}

main {
  flex: 1;
}

/* Text Tags */
  
h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
}
  
p {
  font-size: 0.8750em;
  margin-bottom: 1em; 
}
  
a {         
    color: inherit;                 
}

img {
  max-width: 95vw;
  height: auto;
}

footer > a {
  text-decoration: solid underline!important;
  text-decoration-color: white!important;
}