/* header */
body {
    font-family: helvetica;
}

blockquote {
    font-size: 0.8750em;
    font-style: italic;
    margin-top: 1.25em;
    margin-bottom: 1.25em;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 15px;
    border-left: 0.45em solid #ccc;
} 

/* main */
main {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

div.post_container {
    display: flex;
    flex-direction: column;
    flex-basis: 10%;
    flex-flow: column wrap;
    width: 30vw;
    align-self: center;
    align-items: flex-start;
    gap: 0.75em;
    margin-top: 1em;
}

div.post {
    align-content: flex-start;
}

div.post > h2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 30vw;
}

div.post > h2 > a {
    text-decoration: none;
}

div.post_detail {
    font-size: 0.8750em;
}

div.post_categories {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 0.3em;
    max-width: 30vw;
}

a[data-anchor="category"] {
    text-decoration: none;
    padding-left: 0.3em;
    padding-right: 0.3em;
    border: 1px solid black;
    border-radius: 0.5em;
    margin-right: 0.5em;
    margin-bottom: 0.3em;
}

div#pagination-container {
    margin-top: 1em;
}

/* custom styles */
.pagination {
    display: inline-block;
}

a#page_no {
    tab-size: 4;
}

@media only screen and (max-width: 600px) and (min-width: 270px) {
    hr {
        margin-bottom: 0em;
    }

    div.post_container {
        width: 80vw;
        padding: 1em;
    }

    div.post > h2 {
        max-width: max-content;
    }

    div.post_categories {
        max-width: max-content;
    }
}